@model ShopingCardViewModel

    <h2>Your shopping card</h2>
    <h4>Products in your shopping cards</h4>
    <table>
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShopingCard.ShopingCards)
            {
                <tr>
                    <td class="text-center">@item.AmountOfProducts</td>
                    <td class="text-left">@item.Products.Name</td>
                    <td class="text-right">@item.Products.Price.ToString("c")</td>
                    <td class="text-right">@((item.AmountOfProducts * item.Products.Price).ToString("c"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.ShopingCard.ToString():</td>
            </tr>
        </tfoot>
    </table>